  /*
   * Footer
   */
   body {
    height: 100%;
  }
  .blog-footer {
    padding: 1rem 0;
    color: #ffffff;
    text-align: center;
    background-color: #28a745!important;
    border-top: .05rem solid #e5e5e5;
    bottom: 0;
    font-size: large; 
    height: 200px;
  }

  .blog-footer p:last-child {
    margin-bottom: 0;
  }
  a {
    color: white;
    text-decoration: none;
}