<footer class="blog-footer">
    <div class="row small ">
      <div class="col-md-3 sm-3 lg-3">
        <a class="navbar-brand" href="/">
          <img src="assets/img/logo_mf.jpg" width="20%" height="20%" alt="BURKINA FASO">
        </a>
        <a class="blog-header-logo text-light" href="https://www.fonction-publique.gov.bf/">
          <p class="">Ministère de la Fonction Publique, du Travail et de la Protection Sociale </p>
        </a>
      </div> 
      <div class="col-md-3 sm-3 lg-3">
        <div class="row">
          <ul class="list-unstyled text-small text-left ml-5 ">
            <li><span class="pi pi-chevron-right mr-2"></span><a class="text-light" routerLink="/">MFPTPS</a></li>
            <li><span class="pi pi-chevron-right mr-2"></span><a class="text-light" routerLink="attestation-soumission">MTDPCE</a></li>
            <li><span class="pi pi-chevron-right mr-2"></span><a class="text-light" routerLink="attestation-soumission">MSHP</a></li>
            <li><span class="pi pi-chevron-right mr-2"></span><a class="text-light" routerLink="declaration-etablissement">MENAPLN</a></li>  
            <li><span class="pi pi-chevron-right mr-2"></span><a class="text-light" routerLink="attestation-chomage">Portez vos plaintes et suggestions ici</a></li>                
          </ul>
        </div>
      </div>
      <div class="col-md-3">
  
        <ul class="list-unstyled text-small text-left ml-5">
          <li>
            <span class="pi pi-chevron-right mr-2"></span>
            <a target="_blank" class="text-light"
              href="https://www.fonction-publique.gov.bf">Accueil</a>
            </li>
          <li><span class="pi pi-chevron-right mr-2"></span><a target="_blank" class="text-light" href="https://www.servicepublic.gov.bf">Détachement</a></li>
          <li>
            <span class="pi pi-chevron-right mr-2"></span>
            <a target="_blank" class="text-light" href="http://maretraite.gov.bf/">Disponibilité</a>
          </li>
          <li><span class="pi pi-chevron-right mr-2"></span><a target="_blank" class="text-light" href="https://www.econcours.gov.bf">Décision de congés</a></li>
          
          <li>
            <span class="pi pi-chevron-right mr-2"></span>
            <a target="_blank" class="text-light" href="http://maretraite.gov.bf/">Autorisations absences</a>
          </li>
        </ul>
      </div>
  
      <div class="col-md-3">
        <ul class="list-unstyled text-small text-left ml-5">
          <li><span class="pi pi-chevron-right mr-2"></span>Tél 1: (+226) 25 30 66 30</li>
          <li><span class="pi pi-chevron-right mr-2"></span>Tél 2: (+226) 25 30 41 10 </li>
          <li ><span class="pi pi-chevron-right mr-2"></span>Email: contact@servicepublic.gov.bf </li>
          <li><span class="pi pi-chevron-right mr-2"></span><a routerLink="public/contact">Nous écrire </a></li>
  
          <li><span class="pi pi-chevron-right mr-2"></span>Nous suivre:
  
            <a class="mr-2" href="http://www.facebook.com/FonctionPublique.bf" target="_blank"><i class="pi pi-facebook "
                style="color: #002b88;"></i></a>
            <a class="mr-2" href="http://" target="_blank"><i class="pi pi-youtube " style="color: #860202;"></i></a>
  
          </li>
  
        </ul>
      </div>
    </div>
    <div class="mt-0">
        <span class=" p-text-secondarys small">© 2024 MFPTPS- Tous droits réservés.      Mentions Légales.</span>
    </div>
    
  </footer>