<!-- Confirmation -->
<app-confirmation></app-confirmation>
<!-- <p-divider></p-divider> -->
<ng-template pTemplate="header" style="
    background-color:#1e88e0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;">
    <i class="{{ demande.id ? 'pi-pencil' : 'pi-plus' }} pi p-mr-1 mr-2"></i>
    <h3 class="mr-auto">
        Formulaire de vérification de projet d'arreté
        <!-- {{ demande.id ? 'Formulaire de reception' : 'Formulaire d\'ajout de' }} Avis -->
    </h3>
</ng-template>
<p-progressBar *ngIf="isDialogOpInProgress" mode="indeterminate" color="#1e88e0"></p-progressBar>
<p-message *ngIf="message" [severity]="message.severity" [text]="message.summary"></p-message>
<form (ngSubmit)="saveVerfierProjet()" #dtf="ngForm" style="margin-top:20px;">
    <div class="formgrid grid">
        <div class="field col-6 md:col-6">
            <label for="avis">Avis</label>
            <p-dropdown autoWidth="false" styleClass="mb-3" [style]="{'width':'100%'}"
              [options]="receptions"
              [(ngModel)]="historique.avis" optionValue="code" optionLabel="lib" inputId="avis"
              name="avis" placeholder="Sélectionner l'avis..." [filter]="true" appendTo="body"
              [showClear]="true">
            </p-dropdown>
        </div>

        <div class="field col-12 md:col-12">
            <label for="commentaire">Commentaire :</label>
            <textarea rows="5" cols="30" id="commentaire" name="commentaire" #sigle="ngModel" [(ngModel)]="historique.commentaire" required class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
        </div>
    </div>
    <p-divider></p-divider>
    <div class="p-ml-auto text-right ">
        <div class="p-ml-auto text-right">
            <button type="reset" label="Effacer" class="p-button-filter mr-3 float-left" pButton icon="pi pi-trash"></button>
            <button label="Annuler" (click)="clear()" class="p-button-filter mr-3" pButton icon="pi pi-times"></button>
            <button type="submit" [disabled]="!dtf.form.valid" label="{{ demande.id ? 'Enregistrer' : 'Enregistrer' }}" icon="pi {{ demande.id ? 'pi-save' : 'pi-plus' }}" class="{{ demande.id ? 'p-button-primary' : 'p-button-success' }}" pButton>
            </button>
        </div>
    </div>
</form>
