<p-card>
    <app-confirmation></app-confirmation>
    <!-- <p-divider></p-divider> -->
    <ng-template pTemplate="header" style="
    background-color:#1e88e0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;">
        <!-- <i class="{{isEditing() ? 'pi-pencil' : 'pi-plus'}} pi p-mr-1 mr-2"></i> -->
        <h3 class="mr-auto">
            {{demande.id? "Formulaire de modification" : "Formulaire de "}} demande
        </h3>
    </ng-template>
    <p-progressBar *ngIf="isOpInProgress" mode="indeterminate" color="#1e88e0"></p-progressBar>
    <p-message *ngIf="message" [severity]="message.severity" [text]="message.summary"></p-message>
    <!-- <ng-template pTemplate="header">
        <div class="card-header">
            <h4 class="text-green text-center text-bold">{{demande.id ? 'Formulaire de modification' : 'Formulaire
                d\'ajout de'}} demande</h4>
        </div>
    </ng-template> -->
    <form #dtf="ngForm" style="margin-top:20px;">

        <!--  -->

        <div class="formgrid grid">
            <div class="col-12 md:col-4">
                <label for="typeDemandeur">Type demandeur</label>
                <p-dropdown autoWidth="false" id="typeDemandeur" styleClass="mb-3" [style]="{ 'width': '100%' }"
                    [(ngModel)]="selectedTypeDemandeur" optionLabel="libelle" inputId="typeDemandeur"
                    name="typeDemandeur" placeholder="Sélectionner le typeDemandeur..." [options]="typeDemandeurs"
                    [filter]="true" appendTo="body" [showClear]="true"
                    (ngModelChange)="onTypeDemandeurChange()"></p-dropdown>
            </div>

            <div class="col-12 md:col-4">
                <label for="typeDemandes">Nature de l'acte </label>
                <p-dropdown autoWidth="false" styleClass="mb-3" [style]="{ 'width': '100%' }" [options]="typeDemandes"
                    [(ngModel)]="typeDemandeSelected" optionLabel="libelle" inputId="typeDemandeSelected"
                    name="typeDemandeSelected" [filter]="true" appendTo="body" [showClear]="true">
                </p-dropdown>
            </div>


            <div class="col-12 md:col-4">
                <label for="motif">Motif de l'acte :</label>
                <p-dropdown autoWidth="false" styleClass="mb-3" [style]="{ 'width': '100%' }" [options]="motifsFiltres"
                    [(ngModel)]="selectedMotif" optionLabel="libelle" inputId="motif" name="motif"
                    placeholder="Sélectionner le motif..." [filter]="true" appendTo="body" [showClear]="true"
                    (ngModelChange)="onMotifChange()"></p-dropdown>
            </div>


            <div class="col-12 md:col-4">
                <label for="matricule">Numéro Matricule</label>
                <input type="text" pInputText [(ngModel)]="demande.agent!.matricule" class="form-control"
                    name="matricule" id="matricule" (ngModelChange)="onChangeMatricule()">
            </div>



            <div class="col-12 md:col-4">
                <label for="Prenom">Prénom :</label>
                <input type="text" id="Prenom" name="Prenom" [(ngModel)]="agent.prenom" [readonly]="true" required
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>

            <div class="col-12 md:col-4">
                <label for="Nom">Nom :</label>
                <input type="text" id="nom" name="nom" #libelle="ngModel" [(ngModel)]="agent.nom" [readonly]="true"
                    required
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>


            <!-- <div class="field col-4 md:col-4">
                <label for="Emploi">Emploi :</label>
                <input type="text" id="Emploi" name="Emploi" #libelle="ngModel" [(ngModel)]="agent.fonction" [readonly]="true" required   class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div> -->

            <div class="col-12 md:col-4">
                <label for="Contact">Contact :</label>
                <input type="text" id="contact" name="contact" #libelle="ngModel" [(ngModel)]="agent.telephone"
                    [readonly]="true" required
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>

            <!-- <div class="field col-4 md:col-4">
                <label for="Email">Email :</label>
                <input type="text" id="Email" name="Email" #libelle="ngModel" [(ngModel)]="agent.email" [readonly]="true" required   class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div> -->

            <div class="col-12 md:col-4">
                <label for="structure">Structure :</label>
                <input type="text" id="structure" name="structure" #libelle="ngModel"
                    [(ngModel)]="agent.structure!.libelle" [readonly]="true" required
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="col-12 md:col-4">
                <div class="p-field p-fluid">
                    <label for="Ministère">Ministère</label>
                    <input type="text" id="ministere" name="ministere" #libelle="ngModel" optionLabel="libelle"
                        [(ngModel)]="agent.structure!.ministere!.libelle" [readonly]="true"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
            </div>

            <div class="col-12 md:col-4">
                <div class="p-field p-fluid">
                    <label for="Email">Email</label>
                    <input type="text" id="email" name="email" #libelle="ngModel" optionLabel="libelle"
                        [(ngModel)]="agent.email" [readonly]="true"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
            </div>
            <div class="col-12 md:col-4">
                <div class="p-field p-fluid">
                    <label for="superieur">Supérieur hiérarchique</label>
                    <input [(ngModel)]="agent.superieurHierarchique!.nom" id="superieur" [readonly]="false"
                        name="superieur"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
            </div>

            <div class="col-12 md:col-4">
                <div class="p-field p-fluid">
                    <label for="dateEffet">Date d'effet</label>
                    <p-calendar [(ngModel)]="demande.dateEffet" id="dateEffet" name="dateEffet"></p-calendar>
                </div>
            </div>



            <!-- <div class="field col-4 md:col-4">
                <div class="p-field p-fluid">
                    <label for="structDestination">structure de destination</label>
                    <input [(ngModel)]="demande.strucDestination" id="structDestination" name="structDestination"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
            </div> -->

            <div class="col-12 md:col-4">
                <label for="structDestination">Structure de destination :</label>
                <p-dropdown autoWidth="false" styleClass="mb-3" [style]="{ 'width': '100%' }" [options]="structures"
                    [(ngModel)]="demande.destination" optionLabel="libelle" inputId="structDestination"
                    name="structDestination" placeholder="Sélectionner la structure de destination..." [filter]="true"
                    appendTo="body" [showClear]="true"></p-dropdown>

            </div>




        <!-- Nouvelle section pour la durée -->
        <div class="formgrid grid" >
            <div class="col-12">
                <h4>Durée</h4>
            </div>

            <div class="col-12 md:col-4">
                <div class="p-field p-fluid">
                    <label for="annee">Nombre d'année</label>
                    <input type="number" [(ngModel)]="duree.annee" id="annee" [readonly]="false" name="annee"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        min="0" max="5">
                </div>
            </div>

            <div class="col-12 md:col-4">
                <div class="p-field p-fluid">
                    <label for="mois">Nombre de mois</label>
                    <input type="number" [(ngModel)]="duree.mois" id="mois" [readonly]="false" name="mois" min="0"
                        max="12"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
            </div>

            <div class="col-12 md:col-4">
                <div class="p-field p-fluid">
                    <label for="jours">Nombre de jours</label>
                    <input type="number" [(ngModel)]="duree.jours" id="jours" [readonly]="false" name="jours"
                        name="mois" min="0" max="31"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <br>
           
            </div>
         
        </div>
      
            <div class="col-12 md:col-12" *ngIf="demande.id">
                
                <p-fieldset legend="Liste des pièces existantes" [toggleable]="true">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Fichier</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of pieceJointes;let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{item.libelle}}</td>
                                <td><button class="btn btn-success" (click)="voirPiece(item.url)">Visualiser</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" (click)="display()">Modifier les pièces jointes </button>
                </p-fieldset>
            </div>

            <div class="col-12 md:col-12" *ngIf="isDisplay">
                <div class="card">
                    <table class="table table-sm border-none">
                        <thead>
                            <tr>
                                <th scope="col">Libelle</th>
                                <th scope="col">Fichier</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let piece of piecesFilters; let i=index">
                                <tr>
                                    <td>{{ piece.libelle }}</td>
                                    <td>
                                        <p-fileUpload name="demo{{i}}" (onSelect)="onUpload($event,piece,i)"
                                            [multiple]="false" accept=".pdf" [maxFileSize]="10000000">
                                            <!-- <ng-template pTemplate="content">
                                                <ul *ngIf="uploadedFiles.length">
                                                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{
                                                        file.size }} bytes</li>
                                                </ul>
                                            </ng-template> -->
                                        </p-fileUpload>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>

                    </table>
                </div>
            </div>
      <br>

        </div>

        <!-- <p-divider></p-divider> -->
        <div class="p-ml-auto text-right ">
            <div class="p-ml-auto text-right">
                <button type="reset" label="Effacer" class="p-button-filter mr-3 float-left" pButton
                    icon="pi pi-trash"></button>
                <button label="Annuler" (click)="clear()" class="p-button-filter mr-3" pButton
                    icon="pi pi-times"></button>
                <button (click)="saveEntity()" [disabled]="!dtf.form.valid"
                    label="{{isEditing() ? 'Envoyer' : 'Envoyer'}}" icon="pi {{isEditing() ? 'pi-save' : 'pi-plus'}}"
                    class="  {{isEditing() ? 'p-button-primary' : 'p-button-success'}}" pButton>
                </button>

                <!--<button (click)="goToPaiement()"
                        label="Proceder paiement" icon="pi {{isEditing() ? 'pi-save' : 'pi-plus'}}"
                        class="p-button-warning mt-2 ml-2" pButton>
                </button>-->

            </div>
        </div>
    </form>

</p-card>
