<main>
    <div class="main-content">

    <div class="flex-container mt-3 mb-2 justify-content-center ">
        <div class="row justify-content-center">
   
            <div class="col-sm-5 border rounded  mb-4 mr-2 shadow-lg">
    
                <div class="mt-4 ml-5"> <i class="pi pi-envelope"></i> Envoyez-nous un mail !!</div>
                <div class="row m-4 ">


                    <div class="col-md-6">
                        <span class="p-float-label">
                            <input class="form-control" type="text" id="inputnom">
                            <label for="inputtext">Nom</label>
                        </span>
                    </div>
                    <div class="col-md-6 ">
                        <span class="p-float-label">
                            <input class="form-control" type="text" id="inputprenom">
                            <label for="inputtext">Prénom</label>
                        </span>
                    </div>

                    <div class="col-12 mt-4">
                        <span class="p-float-label ">
                            <input class="form-control" type="text" id="inputobjet">
                            <label for="inputtext">Objet</label>
                        </span>
                    </div>

                    <div class="col-12 mt-4">
                        <span class="p-float-label ">
                            <textarea class="form-control" inputId="textarea" rows="3" cols="30"></textarea>
                            <label for="textarea">Texte</label>
                        </span>
                    </div>

                    <div class="col-12 mt-2">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>

                </div>

            </div>

            <div class="border rounded  mb-4 shadow-lg">

                <div class="flex gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=MFPTPS&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                        scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                        href="https://yt2.org/es/youtube-to-mp3-ALeKk00qEW0sxByTDSpzaRvl8WxdMAeMytQ1611842368056QMMlSYKLwAsWUsAfLipqwCA2ahUKEwiikKDe5L7uAhVFCuwKHUuFBoYQ8tMDegUAQCSAQCYAQCqAQdnd3Mtd2l6"></a><br>


                </div>
            </div>

        </div>

    </div>

</div>
</main><!-- /.container -->
