<!-- formulaire d'affichage du détail -->
<ng-template pTemplate="header">
    <span class="p-mr-auto"> <b>DETAILS STRUCTURE</b></span>
</ng-template>
<hr>
<div class="row">
    <div class="col-md-12 details-item">
        <span class="va-m"><span class="font-bold">Libelle:</span> {{structure.libelle}}</span>
    </div>
    <div class="col-md-12 details-item">
        <span class="va-m"><span class="font-bold">Type structure:</span> {{structure.type?.libelle}}</span>
    </div>
</div>
<!-- <p-divider></p-divider> -->
<div class="p-ml-auto text-right">
    <button description="reset" icon="pi pi-times" label="Fermer" (click)="clear()" class="p-button-filter mr-2"
            pButton></button>
</div>
