<div>
    <button pButton pRipple type="button" icon="pi pi-eye" label="" pTooltip="Détail" class="btn-sm btn-primary mr-2" [hidden]="!enableBtnInfo" (click)="fireInfo()"></button>
    <button pButton pRipple type="button" icon="pi pi-pencil" label="" pTooltip="Modifier" class="btn-sm btn-warning mr-2" [hidden]="!enableBtnEdit" (click)="fireEdit()"></button>
    <button pButton pRipple type="button" icon="pi pi-trash" label="" class="btn-sm btn-danger mr-2" pTooltip="Supprimer" [hidden]="!enableBtnDelete" (click)="fireDelete()"></button>
    <button pButton pRipple type="button" icon="pi pi-download" label="" class="btn-sm btn-success mr-2" pTooltip="Telecharger" [hidden]="!enableBtnDownload" (click)="fireDownload()"></button>
    <button pButton pRipple type="button" icon="pi pi-bookmark" label="Privileges" class="btn-sm btn-secondary mr-2" pTooltip="Privileges" [hidden]="!enableBtnPrivilege" (click)="firePrivilege()"></button>
    <button pButton pRipple type="button" icon="pi pi-lock" label="" class="btn-sm btn-secondary mr-2" pTooltip="Cloturer" [hidden]="!enableBtnClose" (click)="fireClose()"></button>
    <button pButton pRipple type="button" icon="pi pi-send" label="" class="btn-sm btn-secondary mr-2" pTooltip="Renvoie du mail" [hidden]="!enableBtnEmail" (click)="fireEmail()"></button>
    <button pButton pRipple type="button" icon="pi pi-send" label="" class="btn-sm btn-success mr-2" pTooltip="Traiter" [hidden]="!enableBtnTreat" (click)="fireTreat()"></button>
    <button pButton pRipple type="button" icon="pi pi-chart-line" label="" class="btn-sm btn-success mr-2" pTooltip="Evaluer" [hidden]="!enableBtnEval" (click)="fireEvaluer()"></button>
    <button pButton pRipple type="button" icon="pi pi-undo" label="" class="btn-sm btn-success mr-2" pTooltip="Changer" [hidden]="!enableBtnChanger" (click)="fireChanger()"></button>
    <button pButton pRipple type="button" icon="pi pi-check" label="" class="btn-sm btn-success mr-2" pTooltip="Modifier profil" [hidden]="!enableBtnEditProfil" (click)="fireEditProfil()"></button>
    <button pButton pRipple type="button" icon="pi pi-chart-line" label="" class="btn-sm btn-success mr-2" pTooltip="Validation" [hidden]="!enableBtnValidation" (click)="fireValidation()"></button>
    <button pButton pRipple type="button" icon="pi pi-check" label="" class="p-button-raised p-button-success mr-2" pTooltip="Valider" [hidden]="!enableBtnValider" (click)="fireValider()"></button>
    <button pButton pRipple type="button" icon="pi pi-upload" label="" class="btn-sm btn-success mr-2" pTooltip="Charger" [hidden]="!enableBtnActe" (click)="fireActe()"></button>
    <button pButton pRipple type="button" icon="pi pi-file-pdf" label="" class="p-button-raised p-button-success mr-2" pTooltip="Génerer récepissé" [hidden]="!enableBtnRecipisse" (click)="fireGenerate()"></button>
    <button pButton pRipple type="button" icon="pi pi-eject" label="" class="btn-sm btn-secondary mr-2" pTooltip="Abandonner" [hidden]="!enableBtnAbandonner" (click)="fireAbandonner()"></button>
    <button pButton pRipple type="button" icon="pi pi-check" label="" class="btn-sm btn-success mr-2" pTooltip="Paiement" [hidden]="!enableBtnPaiement" (click)="firePaiement()"></button>


</div>

<!-- <p-panelMenu [model]="items" [style]="{'width':'auto'}"></p-panelMenu> -->
