/* You can add global styles to this file, and also import other style files */
$gutter: 1rem; //for primeflex grid system

/* Layout */
@import "assets/layout/styles/layout/layout.scss";

// Import Bootstrap source files from node_modules
@import "~bootstrap/dist/css/bootstrap.css";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";


// Import Bootstrap source files from node_modules
@import "~bootstrap/dist/css/bootstrap.css";

.app-yellow, .p-picklist-buttons {
  color: #FF8C00;
}

//@import '~bs-stepper/dist/css/bs-stepper.min.css';

/* Quill Text Editor for p-editor */
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";

.bg-header-cnamu {
    background-color: #1e88e0 !important;
  }
@import "assets/demo/styles/code.scss";
.actionsStyle {
  width: 20%;
}


.login-pf-header .logo img{
  width: 250px;
  display: block;
  margin: auto;
}

.bg-header-cnamu {
  background-color: #1e88e0 !important;
}

.bg-header-stepper {
  background-color: #155f15 !important;
}

.header-modal {
  background-color: #1e88e0 !important;
}

.card-header{
  padding-top: 15px;
  padding-bottom: 0px;
}


.p-panel .p-panel-content {
  padding: 1.25rem;
  width: 100%;
  border: 1px solid #e2e8f0;
  background: #ffffff;
  color: #1e293b;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top: 0 none;
}

//style steps
/* You can add global styles to this file, and also import other style files */
.container2 {
  border-radius: 5px;
  // background-color: #f2f2f2;
  background-color: white;
  padding: 20px;
  width: 100%;
  margin: 0 auto;

  .input {
    margin: 8px 0;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  label {
    span {
      color: #f82929;
    }
  }

  .error {
    color: #f82929;
    font-size: 13px;
    margin-top: 2px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .button {
    button {
     // background-color: #306bff;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: table;
      margin: 5px auto;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: darken(#306bff, 10%)
      }
    }

    &.previous {
      background-color: #4d525f;

      &:hover {
        background-color: darken(#4d525f, 10%)
      }
    }
  }
}


@media (max-width: 576px) {
  .stepper-header .steps .step::before,
  .stepper-header .steps .step::after {
    display: none
  }
}

@media (max-width: 768px) {
  .stepper-header .steps .step::before,
  .stepper-header .steps .step::after {
    display: none
  }
}







// @media only screen and (max-width: 600px) {
//   div.line {
//     display: none;
//   }
// }

// .bs-stepper-line,
// .bs-stepper .line {
//   border: solid 1px ;
//   -ms-flex: 1 0 32px;
//       flex: 1 0 32px;
//   min-width: 1px;
//   min-height: 1px;
//   margin: auto;
//   background-color: #3c5189;
// }

// @media (max-width: 960px) and (min-width: 501px) {
//   .stepper-header  .steps .step .step-bullet{
//         width: 50%; 
//         position:relative;
//       }
// }

// @media (max-width: 960px) and (min-width: 501px) {
// .stepper-header  .steps   .step .step-bullet{
//         width: 50%; 
//         position:relative;
//       } 
// }

/* Archwizard styling */
.wizard-parent {
  .steps-indicator li.done .step-indicator {
    color: white !important;
  }

  .steps-indicator li.current .step-indicator {
    color: white !important;
  }

  .wizard-content {
    @media only screen and (max-width: 768px) {
      margin-top: 10px;
    }
  }

  @media only screen and (max-width: 768px) {
    .steps-indicator li div.label {
      display: none !important;
    }
  }
}

$aw-colors: (
  '_': (
    'default': (
      'border-color-default': #e6e6e6,
      'background-color-default': #e6e6e6,
      'symbol-color-default': #e6e6e6,
      'border-color-hover': darken(#e6e6e6, 10%),
      'background-color-hover': darken(#e6e6e6, 5%),
      'symbol-color-hover': darken(#e6e6e6, 10%),
    ),
    'current': (
      'border-color-default': #1e88e0,
      'background-color-default': #1e88e0,
      'symbol-color-default': #1e88e0,
      'border-color-hover': darken(#1e88e0, 10%),
      'background-color-hover': darken(#1e88e0, 5%),
      'symbol-color-hover': darken(#1e88e0, 10%),
    ),
    // 'done': (
    //   'border-color-default': #204cc7,
    //   'background-color-default': #204cc7,
    //   'symbol-color-default': #204cc7,
    //   'border-color-hover': darken(#204cc7, 10%),
    //   'background-color-hover': darken(#204cc7, 5%),
    //   'symbol-color-hover': darken(#204cc7, 10%),
    // ),
    'done':
      (
        'border-color-default': #339933,
        'background-color-default': #339933,
        'symbol-color-default': #339933,
        'border-color-hover': darken(#339933, 10%),
        'background-color-hover': darken(#339933, 5%),
        'symbol-color-hover': darken(#339933, 10%),
      ),
    'optional': (
      'border-color-default': #e6e6e6,
      'background-color-default': #e6e6e6,
      'symbol-color-default': #204cc7,
      'border-color-hover': darken(#e6e6e6, 10%),
      'background-color-hover': darken(#e6e6e6, 5%),
      'symbol-color-hover': darken(#1e88e0, 10%),
    ),
    'editing': (
      'border-color-default': #85ace0,
      'background-color-default': #85ace0,
      'symbol-color-default': #85ace0,
      'border-color-hover': darken(#85ace0, 10%),
      'background-color-hover': darken(#85ace0, 5%),
      'symbol-color-hover': darken(#85ace0, 10%),
    ),
  ),
  'large-filled-symbols': (
    '_': (
      'symbol-color-default': black,
      'symbol-color-hover': black,
    ),
  ),
);
 
@import '../node_modules/angular-archwizard/styles/archwizard.scss';

.filter-design{
  background-color: #eff3f9;
  border-radius: 5px;
  padding: 10px 10px 0px 10px;
}
.filter-item-design{
  height: 40px;
}
.btn-design{
  height: 40px;
}
.m-b-3{
  margin-bottom: 3px;
}
.p-button.p-button-filter, .p-buttonset.p-button-filter > .p-button, .p-splitbutton.p-button-filter > .p-button {
  color: #1c2127;
  background: #ffffff;
  border: 1px solid #CBD5E1;
}
.p-button.p-button-filter:enabled:hover, .p-buttonset.p-button-filter > .p-button:enabled:hover, .p-splitbutton.p-button-filter > .p-button:enabled:hover {
  background: #ffffff;
  color: #1c2127;
  border-color: #b0bfd1;
}
.p-button.p-button-filter:enabled:focus, .p-buttonset.p-button-filter > .p-button:enabled:focus, .p-splitbutton.p-button-filter > .p-button:enabled:focus {
  box-shadow: 0 0 0 1px #dbe2ea;
}
.p-button.p-button-filter:enabled:active, .p-buttonset.p-button-filter > .p-button:enabled:active, .p-splitbutton.p-button-filter > .p-button:enabled:active {
  background: #ffffff;
  color: #1c2127;
  border-color: #95a9c2;
}
.p-button.p-button-filter.p-button-outlined, .p-buttonset.p-button-filter > .p-button.p-button-outlined, .p-splitbutton.p-button-filter > .p-button.p-button-outlined {
  background-color: transparent;
  color: #CBD5E1;
  border: 1px solid;
}
.p-button.p-button-filter.p-button-outlined:enabled:hover, .p-buttonset.p-button-filter > .p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-filter > .p-button.p-button-outlined:enabled:hover {
  background: #ffffff;
  color: #CBD5E1;
  border: 1px solid;
}
.p-button.p-button-filter.p-button-outlined:enabled:active, .p-buttonset.p-button-filter > .p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-filter > .p-button.p-button-outlined:enabled:active {
  background: #ffffff;
  color: #CBD5E1;
  border: 1px solid;
}
.p-button.p-button-filter.p-button-text, .p-buttonset.p-button-filter > .p-button.p-button-text, .p-splitbutton.p-button-filter > .p-button.p-button-text {
  background-color: transparent;
  color: #CBD5E1;
  border-color: transparent;
}
.p-button.p-button-filter.p-button-text:enabled:hover, .p-buttonset.p-button-filter > .p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-filter > .p-button.p-button-text:enabled:hover {
  background: #ffffff;
  border-color: transparent;
  color: #CBD5E1;
}
.p-button.p-button-filter.p-button-text:enabled:active, .p-buttonset.p-button-filter > .p-button.p-button-text:enabled:active, .p-splitbutton.p-button-filter > .p-button.p-button-text:enabled:active {
  background: #ffffff;
  border-color: transparent;
  color: #CBD5E1;
}
._m-t-15{
  margin-top:-15px;
}
.table-header-design{
  background-color: green !important;
  border-radius: 5px;
}
.details-item{
  height: 50px;
}

.p-button.p-button-danger-reverse, .p-buttonset.p-button-danger-reverse > .p-button, .p-splitbutton.p-button-danger-reverse > .p-button {
  color: #f95454;
  background: #ffffff;
  border: 1px solid #f95454;
}
.p-button.p-button-danger-reverse:enabled:hover, .p-buttonset.p-button-danger-reverse > .p-button:enabled:hover, .p-splitbutton.p-button-danger-reverse > .p-button:enabled:hover {
  background: #ffffff;
  color: #f95454;
  border-color: #f95454;
}
.p-button.p-button-danger-reverse:enabled:focus, .p-buttonset.p-button-danger-reverse > .p-button:enabled:focus, .p-splitbutton.p-button-danger-reverse > .p-button:enabled:focus {
  box-shadow: 0 0 0 1px #dbe2ea;
}
.p-button.p-button-danger-reverse:enabled:active, .p-buttonset.p-button-danger-reverse > .p-button:enabled:active, .p-splitbutton.p-button-danger-reverse > .p-button:enabled:active {
  background: #ffffff;
  color: #f95454;
  border-color: #f95454;
}
.p-button.p-button-danger-reverse.p-button-outlined, .p-buttonset.p-button-danger-reverse > .p-button.p-button-outlined, .p-splitbutton.p-button-danger-reverse > .p-button.p-button-outlined {
  background-color: transparent;
  color: #CBD5E1;
  border: 1px solid;
}
.p-button.p-button-danger-reverse.p-button-outlined:enabled:hover, .p-buttonset.p-button-danger-reverse > .p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-danger-reverse > .p-button.p-button-outlined:enabled:hover {
  background: #ffffff;
  color: #CBD5E1;
  border: 1px solid;
}
.p-button.p-button-danger-reverse.p-button-outlined:enabled:active, .p-buttonset.p-button-danger-reverse > .p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-danger-reverse > .p-button.p-button-outlined:enabled:active {
  background: #ffffff;
  color: #CBD5E1;
  border: 1px solid;
}
.p-button.p-button-danger-reverse.p-button-text, .p-buttonset.p-button-danger-reverse > .p-button.p-button-text, .p-splitbutton.p-button-danger-reverse > .p-button.p-button-text {
  background-color: transparent;
  color: #CBD5E1;
  border-color: transparent;
}
.p-button.p-button-danger-reverse.p-button-text:enabled:hover, .p-buttonset.p-button-danger-reverse > .p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-danger-reverse > .p-button.p-button-text:enabled:hover {
  background: #ffffff;
  border-color: transparent;
  color: #CBD5E1;
}
.p-button.p-button-danger-reverse.p-button-text:enabled:active, .p-buttonset.p-button-danger-reverse > .p-button.p-button-text:enabled:active, .p-splitbutton.p-button-danger-reverse > .p-button.p-button-text:enabled:active {
  background: #ffffff;
  border-color: transparent;
  color: #CBD5E1;
}
.text-blue{
  color: #0386e7;
}
.text-red{
  color: #d8222b;
}
.text-green{
  color: #008743;
}
.bg-blue{
  background-color: #0386e7;
}
.bg-red{
  background-color: #d8222b;
}
.bg-yellow{
  background-color: #fee711;
}
.bg-green{
  background-color: #008743;
}
.font-30{
  font-size: 30px;
}
.font-40{
  font-size: 40px;
}
.font-20{
  font-size: 20px;
}
.font-18{
  font-size: 18px;
}
.btn-connexion{
  background-color: #0386e7;
  border-color: #0386e7;
}
.font-60{
  font-size: 60px;
}
.m-b-30{
  margin-bottom: 30px;
}
.m-b-50{
  margin-bottom: 50px;
}
.m-t-130{
  margin-top: 130px;
}

.btn-green {
  color: #fff;
  background-color: #018e00;
  border-color: #018e00;
}

.btn-green:hover {
  color: #fff;
  background-color: #006c00;
  border-color: #006c00;
}

.btn-green:focus, .btn-green.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-green.disabled, .btn-green:disabled {
  color: #fff;
  background-color: #018e00;
  border-color: #018e00;
}

.btn-green:not(:disabled):not(.disabled):active, .btn-green:not(:disabled):not(.disabled).active,
.show > .btn-green.dropdown-toggle {
  color: #fff;
  background-color: #006c00;
  border-color: #006c00;
}

.btn-green:not(:disabled):not(.disabled):active:focus, .btn-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-green.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}


.btn-blue {
  color: #fff;
  background-color: #1e86e0;
  border-color: #1e86e0;
}

.btn-blue:hover {
  color: #fff;
  background-color: #0463b5;
  border-color: #0463b5;
}

.btn-blue:focus, .btn-blue.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-blue.disabled, .btn-blue:disabled {
  color: #fff;
  background-color: #1e86e0;
  border-color: #1e86e0;
}

.btn-blue:not(:disabled):not(.disabled):active, .btn-blue:not(:disabled):not(.disabled).active,
.show > .btn-blue.dropdown-toggle {
  color: #fff;
  background-color: #0463b5;
  border-color: #0463b5;
}

.btn-blue:not(:disabled):not(.disabled):active:focus, .btn-blue:not(:disabled):not(.disabled).active:focus,
.show > .btn-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}


.btn-yellow {
  color: #fff;
  background-color: #ffe501;
  border-color: #ffe501;
}

.btn-yellow:hover {
  color: #fff;
  background-color: #ceb901;
  border-color: #ceb901;
}

.btn-yellow:focus, .btn-yellow.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-yellow.disabled, .btn-yellow:disabled {
  color: #fff;
  background-color: #ceb901;
  border-color: #ceb901;
}

.btn-yellow:not(:disabled):not(.disabled):active, .btn-yellow:not(:disabled):not(.disabled).active,
.show > .btn-yellow.dropdown-toggle {
  color: #fff;
  background-color: #ffe501;
  border-color: #ffe501;
}

.btn-yellow:not(:disabled):not(.disabled):active:focus, .btn-yellow:not(:disabled):not(.disabled).active:focus,
.show > .btn-yellow.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-red {
  color: #fff;
  background-color: #d8222b;
  border-color: #d8222b;
}

.btn-red:hover {
  color: #fff;
  background-color: #c7020c;
  border-color: #c7020c;
}

.btn-red:focus, .btn-red.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-red.disabled, .btn-red:disabled {
  color: #fff;
  background-color: #d8222b;
  border-color: #d8222b;
}

.btn-red:not(:disabled):not(.disabled):active, .btn-red:not(:disabled):not(.disabled).active,
.show > .btn-red.dropdown-toggle {
  color: #fff;
  background-color: #c7020c;
  border-color: #c7020c;
}

.btn-red:not(:disabled):not(.disabled):active:focus, .btn-red:not(:disabled):not(.disabled).active:focus,
.show > .btn-red.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.m-t-30{
  margin-top: 30px;
}
.shadow{
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.273);
}
.dropdown:hover .dropdown-menu {display: block !important;}

.dropdown .dropdown-menu .dropdown-item:hover, .dropdown .dropdown-menu .dropdown-item:hover{background-color: #BF1E2E !important;}

.close {
  display: none;
}

.navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
  display: none;
}

.navbar-toggler:not(.collapsed)>.close {
  display: inline-block;
}
.text-bienvenu{
  padding-left:260px;
}
.bibliotheque-style{
  background-color: #b9e1ed;
  padding-left: 10%;
  padding-right: 10%;
  padding-top:50px;
  padding-bottom:50px;
  margin-top: -130px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0px;
}
.bibliotheque-header-style{
  padding-left: 10%;
  padding-right: 10%;
  padding-top:50px;
  padding-bottom:50px;
  height: 600px;
}
.bibliotheque-header-text-style{
  margin-top: 150px;
}
.bibliotheque-header-text-style h1{
  font-size: 60px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (max-width: 1200px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {
  .bibliotheque-header-style{
    padding-left: 10%;
    padding-right: 10%;
    padding-top:50px;
    padding-bottom:50px;
    height: 370px;
  }
  .bibliotheque-header-text-style{
    margin-top: 50px;
  }
  .bibliotheque-header-text-style h1{
    font-size: 60px;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 800px) {
  .bibliotheque-header-style{
    padding-left: 10%;
    padding-right: 10%;
    padding-top:50px;
    padding-bottom:50px;
    height: 400px;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
  
} 

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .bibliotheque-header-style{
    padding-left: 10%;
    padding-right: 10%;
    padding-top:50px;
    padding-bottom:50px;
    height: 335px;
  }
  .bibliotheque-header-text-style{
    margin-top: 0px;
  }
  .bibliotheque-header-text-style h1{
    font-size: 30px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 412px) {
  .bibliotheque-header-style{
    padding-left: 10%;
    padding-right: 10%;
    padding-top:50px;
    padding-bottom:50px;
    height: 273px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 393px) {
  .bibliotheque-header-style{
    padding-left: 10%;
    padding-right: 10%;
    padding-top:50px;
    padding-bottom:50px;
    height: 268px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 390px) {
  .bibliotheque-header-style{
    padding-left: 10%;
    padding-right: 10%;
    padding-top:50px;
    padding-bottom:50px;
    height: 264px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 377px) {
  .bibliotheque-header-style{
    padding-left: 10%;
    padding-right: 10%;
    padding-top:50px;
    padding-bottom:50px;
    height: 2500px;
  }
  .text-bienvenu{
    padding-left:0px;
    margin-left: -100px;
    font-size: 25px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 360px) {
  .bibliotheque-header-style{
    padding-left: 10%;
    padding-right: 10%;
    padding-top:50px;
    padding-bottom:50px;
    height: 257px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 320px) {
  .bibliotheque-header-style{
    padding-left: 10%;
    padding-right: 10%;
    padding-top:50px;
    padding-bottom:50px;
    height: 243px;
  }
}


table.blueTable {
  border: 1px solid #1e86e0;;
  background-color: #ffffff;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
  text-align: center;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1e86e0;;
  text-align: center;
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
  text-align: center;
}
table.blueTable thead th:first-child {
  border-left: none;
  text-align: center;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
  text-align: center;
}
table.blueTable tfoot .links {
  text-align: center;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #007bff;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
  text-align: center;
}

.p-menubar {
  padding: 0.5rem;
  background: #28a745!important;
  color: #28a745!important;
  width: 100%;
  border:0px;
  border-bottom: 05px solid yellow;
  border-radius: 0px;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: #ffffff;
  }
  .p-menubar .p-menubar-root-list > .p-menuitem > .btn-blue:hover{
    color: black
  }

  .layout-topbar {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #28a745!important;;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}