<div class="relative overflow-hidden flex flex-column justify-content-center">
    <div class="bg-circle opacity-50" style="top: -200px; left: -700px;"></div>
    <div class="bg-circle hidden lg:flex" style="top: 50px; right:-800px; transform: rotate(60deg)"></div>
    <div class="" style="background-color: white;">
        <app-public-menu></app-public-menu>
        <div class="py-4 mx-0 lg:mx-12 lg:px-12 z-2" style="">
            <router-outlet></router-outlet>
            <app-public-footer></app-public-footer>
        </div>
    </div>
</div>
