<!-- formulaire d'affichage du détail -->
<ng-template pTemplate="header">
    <span class="p-mr-auto"> <b>DETAILS visa</b></span>
  </ng-template>
  <!-- <p-divider></p-divider> -->
  <hr>
  <div class="row">
    <div class="col-md-12 details-item">
      <span class="va-m"><span class="font-bold">Libelle:</span> {{visa.libelle}}</span>
    </div>
    <div class="col-md-12 details-item">
      <span class="va-m"><span class="font-bold">Code:</span> {{visa.code}}</span>
    </div>
    <div class="col-md-12 details-item">
    </div>
    <!-- <div class="col-md-12">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action">
          <span class="va-m"><span class="font-bold">Libelle:</span> {{visa.libelle}}</span>
        </li>
        <li class="list-group-item list-group-item-action">
          <span class="va-m"><span class="font-bold">Code:</span> {{visa.code}}</span>
        </li>
        <li class="list-group-item list-group-item-action">
          <span class="va-m"><span class="font-bold">Province:</span> {{visa ? visa.province!.libelle:'-'}}</span>
        </li>
      </ul>
    </div> -->
  
  </div>
  <!-- <p-divider></p-divider> -->
  <div class="p-ml-auto text-right">
    <button description="reset" icon="pi pi-times" label="Fermer" (click)="clear()" class="p-button-filter mr-2"
      pButton></button>
  </div>