<p-card>
    <!-- formulaire d'affichage du détail -->
    <ng-template pTemplate="header">
        <span class="p-mr-auto"> <b>DETAILS DEMANDE</b></span>
    </ng-template>
  
    <p-fieldset legend="Informations générales" [toggleable]="true">
      <div class="row">
        <div class="col-md-6 details-item">
          <span class="va-m"><span class="font-bold">Numero demande : </span> {{ demande.numero }}</span>
        </div>
        <div class="col-md-6 details-item">
          <span class="va-m"><span class="font-bold">Date de demande : </span> {{ demande.dateDemande }}</span>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 details-item">
            <span class="va-m"><span class="font-bold">Type de demande : </span> {{ demande.typeDemande?.libelle }}</span>
          </div>
        <div class="col-md-6 details-item">
          <span class="va-m"><span class="font-bold">Motif : </span>{{ demande.motif?.libelle }}</span>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-6 details-item">
          <span class="va-m"><span class="font-bold">Structure de disponibilité : </span> {{ demande.destination?.libelle }}</span>
        </div>
      
        <div class="col-md-6 details-item">
          <div></div>
          <br>
          <span class="va-m"><span class="font-bold">Date d'effet : </span> {{ demande.dateEffet }}</span>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 details-item">
          <span class="va-m"><span class="font-bold">Matricule agent : </span> {{ demande.agent?.matricule }}</span>
        </div>
        <div class="col-md-6 details-item">
          <span class="va-m"><span class="font-bold">Nom agent : </span> {{ demande.agent?.nom }} {{ demande.agent?.prenom }}</span>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 details-item">
          <span class="va-m"><span class="font-bold">Statut demande : </span> {{ demande.statut }}</span>
        </div>
      </div>
    </p-fieldset>
    <br>
  
    <p-fieldset legend="Liste des pièces jointes" [toggleable]="true">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-sm no-border">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Fichier</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of pieceJointes;let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{item.libelle}}</td>
                  <td>
                    <button description="Visualiser" icon="pi pi-eye" label="Visualiser"  (click)="voirPiece(item.url)"  class="p-button-primary mr-2"pButton >
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </p-fieldset>
    <br>
  
    <p-fieldset legend="Liste des avis" [toggleable]="true">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-sm no-border">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Position</th>
                  <th scope="col">Avis</th>
                  <th scope="col">Commentaire</th>
                  <!-- <th scope="col">Action</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of historiques;let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{item.circuit?.position}}</td>
                  <td>{{item.avis}}</td>
                  <td>{{item.commentaire}}</td>
                  <!-- <td>
                    <button description="Visualiser" icon="pi pi-eye" label="Visualiser"  (click)="voirPiece(item.url)"  class="p-button-primary mr-2"pButton >
                    </button>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </p-fieldset>
    <br>
  
    <p-fieldset legend="Projet d'arrété" [toggleable]="true">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-sm no-border">
              <thead>
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <th scope="col">Fichier</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <!-- <th scope="row">{{i+1}}</th> -->
                  <!-- <td>{{item.libelle}}</td> -->
                  <!-- <td> MFP_SPMABG_2023-0001.pdf</td> -->
                  <td>
                    <!-- <button description="Visualiser" icon="pi pi-eye" label="Visualiser"  (click)="voirPiece('item.url')"  class="p-button-primary mr-2"pButton >
                    </button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </p-fieldset>
  
    <p-divider></p-divider>
    <div class="row justify-content-center">
  
      <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  
      <div class="p-ml-auto text-right">
        <button description="rejeter demande sg" icon="pi pi-times" label="Rejeter demande" [hidden]="disableRejeterDemande" (click)="rejeterDemande()" class="p-button p-button-danger mr-2"
                pButton></button>
      </div>
  
      
      <div class="p-ml-auto text-right">
        <button description="aviser sh" icon="pi pi-pencil" label="Aviser" [hidden]="disableAviserSH" (click)="openModalAviser(demande)" class="p-button-success mr-2"
        pButton></button>
      </div>
  
      
      <div class="p-ml-auto text-right">
        <button description="aviser drh" icon="pi pi-pencil" label="Aviser" [hidden]="disableAviserDRH" (click)="openModalAviser(demande)" class="p-button-success mr-2"
        pButton></button>
      </div>
  
      <div class="p-ml-auto text-right">
        <button description="aviser sg" icon="pi pi-pencil" label="Valider" [hidden]="disableAviserSG" (click)="openModalAviser(demande)" class="p-button-success mr-2"
        pButton></button>
      </div>
  
      <div class="p-ml-auto text-right">
        <button description="receptionner" icon="pi pi-folder-open" label="Receptionner" [hidden]="disableReceptionner" (click)="openModalReceptionner(demande)" class="p-button-primary mr-2"
        pButton></button>
      </div>
  
      <div class="p-ml-auto text-right">
        <button description="receptionner après validation" icon="pi pi-folder-open" label="Receptionner validation" [hidden]="disableReceptionnerV" (click)="openModalReceptionnerV(demande)" class="p-button-primary mr-2"
        pButton></button>
      </div>
  
      <div class="p-ml-auto text-right">
        <button description="elaborer" icon="pi pi-pencil" label="Procéder à l'élaboration" [hidden]="disableElaborer" (click)="openModalElaborerProjet(demande)" class="p-button-success mr-2"
        pButton></button>
    </div>
  
  
    <div class="p-ml-auto text-right">
      <button description="verifier" icon="pi pi-pencil" label="Procéder à la vérification" [hidden]="disableVerifierSTDCMEF" (click)="openModalVerifierProjet(demande)" class="p-button-success mr-2"
      pButton></button>
  </div>
  
  
  <div class="p-ml-auto text-right">
    <button description="viser" icon="pi pi-pencil" label="Viser projet" [hidden]="diableViserDCMEF" (click)="openModalViserProjet(demande)" class="p-button-success mr-2"
    pButton></button>
  </div>
  
  
  
  <!-- <div class="p-ml-auto text-right">
    <button description="rejeter projet sg" icon="pi pi-times" label="Rejeter projet" [hidden]="disableRejeterProjet" (click)="rejeterElaboration()" class="p-button-success mr-2 rejet-button" pButton></button>
  </div> -->
  
  
  
  
  
   <div class="p-ml-auto text-right">
      <button description="valider" icon="pi pi-pencil" [hidden]="disableValiderElaboration" label="Procéder à la validation" (click)="openModalValiderProjet(demande)" class="p-button-success mr-2"
      pButton></button>
    </div>
  
        <div class="p-ml-auto text-right">
            <button description="signer" icon="pi pi-pencil" [hidden]="disableSignerElaboration" label="Procéder à la signature" (click)="openModalSignatureProjet(demande)" class="p-button-success mr-2"
                    pButton></button>
        </div>
  
    
  
        <div class="p-ml-auto text-right">
            <button description="telecharger" icon="pi pi-pencil" [hidden]="disableExporterElaboration" label="Exporter l'arrete signé" (click)="exporter()" class="p-button-success mr-2"
                    pButton></button>
        </div>
  
      <div class="p-ml-auto text-right">
        <button description="reset" icon="pi pi-times" label="Fermer" (click)="fermer()" class="p-button-danger mr-2"
        pButton></button>
      </div>
    </div>
  </p-card>
  